<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.songbao.sampo_c">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!--7.0必加-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher_my"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:requestLegacyExternalStorage ="true"
        android:networkSecurityConfig="@xml/network_security_config" >
        <!-- 解决当target=29时,加载系统相册不显示的问题，谷歌临时允许使用老版本的权限来解决储存分区问题 -->
        <!-- 解决安卓9.0系统出现 CLEARTEXT communication to XX not permitted by network security policy -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Error: Lorg/apache/http/conn/scheme/SchemeRegistry -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- API23以上调用系统应用需配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.songbao.sampo_c.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104891333" /> <!-- 获取的APP ID -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- WB -->
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="2045436852" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="SongBao" /> <!-- 渠道标识 -->

        <!-- UM -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5da43f66570df31535000db7"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="SongBao"/> <!-- 渠道标识 -->

        <!-- Activity -->
        <activity
            android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <!-- common -->
        <activity
            android:name=".activity.common.clip.ClipImageCircularActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.clip.ClipImageSquareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.clip.PhotoAlbumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.clip.PhotoOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.MyWebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.ScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.SelectListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.common.ViewPagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- home -->
        <activity
            android:name=".activity.home.ChoiceDateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.HouseListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.ReserveDetailActivity"
            android:launchMode="singleTop"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.ReserveListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.SignUpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.SignUpDetailActivity"
            android:launchMode="singleTop"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.TicketsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- login -->
        <activity
            android:name=".activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.LoginPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.RegisterOauthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- Two -->
        <activity
            android:name=".activity.two.CartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.two.GoodsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.two.GoodsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.two.PostOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.two.SketchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- three -->
        <activity
            android:name=".activity.three.DesignerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.three.GoodsOffActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.three.StoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- mine -->
        <activity
            android:name=".activity.mine.AddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AddressEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CommentAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CommentGoodsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CommentOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CommentPostActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CustomizeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CustomizeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.EditUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MyPurchaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MyReserveActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MySignUpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MyTicketsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PersonalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PostSaleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PurchaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.RefundActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.SelectAreaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- wxapi -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>

</manifest>